inferenceExtension:
  replicas: 1
  image:
    name: epp
    hub: registry.k8s.io/gateway-api-inference-extension
    tag: v0.5.1
    pullPolicy: Always
  extProcPort: 9002
  env: []
  enablePprof: true # Enable pprof handlers for profiling and debugging
  modelServerMetricsPath: "/metrics"
  modelServerMetricsScheme: "http"
  modelServerMetricsHttpsInsecureSkipVerify: true
  # This is the plugins configuration file. 
  pluginsConfigFile: "default-plugins.yaml"
  # pluginsCustomConfig:
  #   custom-plugins.yaml: |
  #     apiVersion: inference.networking.x-k8s.io/v1alpha1
  #     kind: EndpointPickerConfig
  #     plugins:
  #     - type: custom-scorer
  #       parameters:
  #         custom-threshold: 64
  #     - type: max-score-picker
  #     - type: single-profile-handler
  #     schedulingProfiles:
  #     - name: default
  #       plugins:
  #       - pluginRef: custom-scorer
  #         weight: 1
  #       - pluginRef: max-score-picker
  #         weight: 1

  # Example environment variables:
  # env:
  #   KV_CACHE_SCORE_WEIGHT: "1"

  # Define additional container ports
  extraContainerPorts: []
  # Define additional service ports
  extraServicePorts: []

  # Monitoring configuration for EPP
  monitoring:
    # ServiceMonitor configuration for EPP metrics collection with Prometheus Operator
    servicemonitor:
      enabled: false
      # port -- Port name to scrape metrics from (must match service port name)
      port: "http-metrics"
      path: "/metrics"
      interval: "10s"
      # scrapeTimeout: "10s"
      # relabelings -- RelabelConfigs to apply to samples before scraping
      relabelings: []
      # metricRelabelings -- MetricRelabelConfigs to apply to samples before ingestion
      metricRelabelings: []
      namespaceSelector:
        any: false
        matchNames: []
      selector:
        # matchLabels in template match the EPP service by default
        matchLabels: {}

inferencePool:
  targetPortNumber: 8000
  modelServerType: vllm # vllm, triton-tensorrt-llm
  # modelServers: # REQUIRED
    # matchLabels: 
    #   app: vllm-llama3-8b-instruct

provider:
  name: none

gke:
  monitoringSecret:
    name: inference-gateway-sa-metrics-reader-secret
    namespace: default
